@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: middle;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 180% */
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 500px;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.user {
  padding: 20px 12px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header-button {
  align-self: center;
  flex-shrink: 0;
  margin: 14px 0 14px 20px;
  max-width: 100px;
}

.page-header-logo {
  height: 70px;
  width: 140px;
  display: inline-block;
  margin-left: 70px;
  margin-bottom: -10px;
}

.navigation-logo {
  width: 140px;
  height: 70px;
  position: relative;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.advantages {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/decor.svg"), url("../images/index-background.jpg");
  background-position: 50% 100%, 50% 50%;
  height: 434px;
  background-repeat: no-repeat;
  padding: 45px 0 5px;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  padding: 64px 290px 0;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 25px 360px 64px;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin-bottom: 60px;
}

.advantages-description {
  margin: 0;
  max-width: 230px;
}

.advantages-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
}

.advantages-item {
  text-align: center;
  background-color: #f0f6fa;
  width: 400px;
}

.advantages-item:last-child {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  width: 100%;
}

.advantages-item-light {
  background-color: #e6f0f6;
}

.service-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  text-align: center;
  width: 400px;
  height: 385px;
}

.service-item-blue {
  background-color: #f0f6fa;
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0;
}

.service-description {
  margin: 0;
  max-width: 230px;

}

.service-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding-top: 72px;
  box-sizing: border-box;
}

.search {
  text-align: center;
  padding: 32px 0 96px;
}

.search a {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 180% */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.search-description {
  margin: 20px 304px 54px;
}


.subscription {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  padding: 32px 0 104px;
  min-height: 215px;
  background-size: cover;
}

.subscription--background {
  background-image: url("../images/subscribe.jpg");
  color: #ffffff;
}

.field {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  min-width: 452px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #F2F2F2;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
  height: 52px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.page-footer {
  margin: 40px 70px;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 150px;
  padding-right: 195px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 70px;
  padding: 0;
}

.footer-social-item {
  padding: 0 10px;
}

.page-footer-logo {
  margin-left: auto;
  margin-right: 70px;
  width: 115px;
}

.footer-contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 40px 0 30px;
  padding: 5px;
}
/*catalog*/

.main-inner {
  background-image: url("../images/inner-header.jpg");
  min-width: 1040px;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 27px;
}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs-item-home {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 22px;
  background-position: center;
}

.breadcrumbs-link {
  margin: 0;
}

.breadcrumbs-icon {
  margin: 0;
  padding: 0;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1060px;
  padding-top: 40px;
}

.catalog-filter-group {
  border: none;
}

.catalog-column {
  width: 1060px;
}

.catalog-filter {
  display: flex;
  width: 1200px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  list-style: none;
  padding-bottom: 16px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.price-filter {
  display: flex;
  padding: 0;
  margin: 0 70px 0 0;
}

.catalog-filter-price {
  position: relative;
}

.price {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  height: 48px;
}

.price-min {
  border-radius: 4px 0 0 4px;
  border: none;
  margin-right: 2px;
}

.price-max {
  border-radius: 0 4px 4px 0;
  border: none;
}

.range {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #a9a9a9;
  position: absolute;
  bottom: 13px;
  right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.submit-reset {
  max-width: 200px;
  padding-top: 55px;
  margin: 0;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  color: #000000;
  width: 340px;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.sorting-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 70px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
  color: #333333;
  width: 292px;
}

.display-selection {
  display: flex;
  padding: 0 0 0 70px;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  color: #000000;
}

.hotel-item {
  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-star li {
  list-style: none;
}

.hotel-card-text .hotel-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotel-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px; /* 180% */
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-disabled {
  color: #000000;
  background-color: #f2f2f2;
}

.number-black {
  color: #000000;
}

.ellipses {
  color: #000000;
  background-color: #ffffff;
}
